<ion-header>
  <ion-toolbar>
    <ion-title>Canciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar animated
                  (ionChange)="buscar( $event )">
  </ion-searchbar>


  <ion-list *ngFor="let cn of canciones | filtro: textoBuscar">
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{cn.autorCancion}}</ion-card-subtitle>
          <ion-card-title>{{cn.nombreCancion}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <img [src]="cn.urlImageCancion">
          <audio class="panelAudio" [src]="cn.urlCancion" preload="none" controls></audio>
          <!-- <ion-button color="dark" expand="full "(click)="presentAlert()">Mas</ion-button> -->
          <ion-item>
            <ion-label align="center"> Sobre </ion-label>
            <ion-select placeholder="">
              <ion-select-option value="texto">Cancion: {{cn.nombreCancion}}</ion-select-option>
              <ion-select-option value="texto">Album: {{cn.albumCancion}}</ion-select-option>
              <ion-select-option value="texto">Artista: {{cn.autorCancion}}</ion-select-option>
              <ion-select-option value="texto">Publicacion: {{cn.publicacionCancion}}</ion-select-option>
              <ion-select-option value="texto">Genero: {{cn.generoCancion}}</ion-select-option>
              <ion-select-option value="texto">Pais: {{cn.paisCancion}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>



</ion-content>
