<ion-header>
  <ion-toolbar>
    <ion-title>Artistas</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="Regresar" routerLink="/tabs"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<!--1-->
<ion-item>
  <ion-avatar slot="start">
    <img src="assets/images/eminem.jpeg">
  </ion-avatar>
  <ion-label>Eminem</ion-label>
  <ion-button href="https://www.eminem.com/">IR</ion-button>
</ion-item>

<!--2-->
<ion-item>
  <ion-avatar slot="start">
    <img src="assets/images/metallica.jpg">
  </ion-avatar>
  <ion-label>Metallica</ion-label>
  <ion-button href="https://www.metallica.com/">IR</ion-button>
</ion-item>

<!--3-->
<ion-item>
  <ion-avatar slot="start">
    <img src="assets/images/zoe.jpg">
  </ion-avatar>
  <ion-label>Zoe</ion-label>
  <ion-button href="https://zoetheband.com/">IR</ion-button>
</ion-item>

<!--4-->
<ion-item>
  <ion-avatar slot="start">
    <img src="assets/images/llinkinpark.jpg">
  </ion-avatar>
  <ion-label>Linkin Park</ion-label>
  <ion-button href="https://www.linkinpark.com/">IR</ion-button>
</ion-item>

<!--5-->
<ion-item>
  <ion-avatar slot="start">
    <img src="assets/images/nightwish.jpg">
  </ion-avatar>
  <ion-label>Nightwish</ion-label>
  <ion-button href="http://nightwish.com/en">IR</ion-button>
</ion-item>

<!--6-->
<ion-item>
  <ion-avatar slot="start">
    <img src="assets/images/dld.jpg">
  </ion-avatar>
  <ion-label>DLD</ion-label>
  <ion-button href="http://www.dld.com.mx/">IR</ion-button>
</ion-item>

<!--7-->
<ion-item>
  <ion-avatar slot="start">
    <img src="assets/images/cafetacvba.jpg">
  </ion-avatar>
  <ion-label>Cafe Tacvba</ion-label>
  <ion-button href="https://tacvba.com.mx/">IR</ion-button>
</ion-item>

<!--8-->
<ion-item>
  <ion-avatar slot="start">
    <img src="assets/images/bonjovi.jpeg">
  </ion-avatar>
  <ion-label>Bon Jovi</ion-label>
  <ion-button href="https://www.bonjovi.com/">IR</ion-button>
</ion-item>

<!--9-->
<ion-item>
  <ion-avatar slot="start">
    <img src="assets/images/acdc.jpeg">
  </ion-avatar>
  <ion-label>AC/DC</ion-label>
  <ion-button href="https://www.acdc.com/">IR</ion-button>
</ion-item>

<!--10-->
<ion-item>
  <ion-avatar slot="start">
    <img src="assets/images/porter.jpg">
  </ion-avatar>
  <ion-label>Porter</ion-label>
  <ion-button href="https://www.porteroficial.com/">IR</ion-button>
</ion-item>


</ion-content>
