<!--
<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-content>

  <ion-tabs>
  <ion-tab-bar slot="bottom">


    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="songs">
      <ion-icon name="ios-musical-notes"></ion-icon>
      <ion-label>Songs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>

</ion-content>
